html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(50px + 5vw);
    background-color: rgb(53, 50, 50);
}

.button-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.button-container > *{
    width: max(50px, 15vw);
    height: max(50px, 10vh);
    font-size: calc(8px + 1vw);
    background-color: green;
}

#grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70%;
    width: 25%;
    
    background-color: white;
}

