html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(50px + 5vw);
    background-color: black;
}

.button-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.button-container > *{
    width: max(50px, 15vw);
    height: max(50px, 10vh);
    font-size: calc(8px + 1vw);
}

#grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 30%;
    background-color: white;
    
}

#square{
   background-color: white;
}
